// https://www.nordtheme.com/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$bg-color: #7a7a7a;

$nord-dark: #303443;
$nord-medium: #434C5E;
$nord-light: #4C566A;

$snow-nord-dark: #D8DEE9;
$snow-nord-medium: #E5E9F0;
$snow-nord-light: #ECEFF4;

$nord-pastelle-green: #A3BE8C;
$nord-pastelle-blue-dark: #5E81AC;
$nord-pastelle-blue-light: #88C0D0;