@import "../../styles/variables.scss";


.navigation-wrapper {
    background-color: $nord-dark;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px darken($nord-dark,5%)
}

.list-wrapper {
    display:flex;
    flex-direction: row;
    list-style: none;
    column-gap: 0.9em;
}
.list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:white;
    height:1em;
    font-size: 1.2em;

    &:hover{
        text-decoration: underline $nord-pastelle-blue-dark;
        text-underline-offset: 0.5em;
        color: $nord-pastelle-blue-dark;
        cursor: pointer;
    }
}